@import "./reset.scss";
@import "./common.scss";
@import "./titles";
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
// 일본어 font-family: 'Kosugi Maru', sans-serif; 
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
// 영어 font-family: 'Gochi Hand', cursive;
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
// 한국어 font-family: 'Poor Story', cursive;

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    padding-top: 70px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    &>*:not(.footer) {
        padding: 0 140px;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 140px;
    background: #fef5f8;
    height: 70px;
    width: 100%;
    display: flex;

    .nav-bar {
        font-family: 'Gochi Hand', cursive;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 2px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        ul {
            display: flex;

            a {
                padding: 20px 0;
            }
        }

        .menu {
            li {
                margin-right: 25px;

                a {
                    background-image: linear-gradient(#4cd3c2, #4cd3c2),
                        linear-gradient(#fef5f8, #fef5f8);
                    background-size: 0 5px, auto;
                    background-repeat: no-repeat;
                    background-position: center 40px;
                    transition: all .2s ease-out;
                }

                a:hover {
                    background-size: 100% 5px, auto;
                }
            }

        }

        .icon {
            position: absolute;
            left: 50%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .user-menu {
            &>li:first-child {
                i {
                    margin-right: 5px;
                }
            }

            &>li:last-child {
                a {
                    margin-left: 20px;
                }
            }

            &>li:last-child:hover .fa-shopping-cart {
                transform: rotate(20deg);
            }

        }
    }
}

// INDEX

.hero {

    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url(https://t1.daumcdn.net/cfile/tistory/2753194056E7F2861D);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 80px;

    h4 {
        @extend %miniTitle;
        margin-bottom: 30px;
    }

    h3 {
        font-family: 'Kosugi Maru', sans-serif;
        font-size: 35px;
        width: 35%;
        text-align: center;
        margin-bottom: 40px;
    }

    a {
        width: 10%;
        background-color: white;
        padding: 13px 0;
        text-decoration: none;
        color: black;
        text-align: center;
        font-family: 'Gochi Hand', cursive;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 1px;
        transition: all 0.3s linear;

        &:hover {
            background-color: #333333;
            color: white;
        }
    }
}

// ANIMATION

.animation {
    display: flex;
    height: 80vh;
    width: 100%;
    margin-bottom: 80px;

    .animation__column {
        width: 50%;

        .animation__bg {
            background-image: url(https://i.pinimg.com/originals/01/92/13/019213f80232cad97a182c9085f6ebf4.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
        }
    }

    &>div:nth-child(2) {
        background: #d7c79e;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h4 {
            @extend %miniTitle;
            margin-bottom: 30px;
        }

        h3 {
            width: 70%;
            margin-bottom: 30px;
            font-family: 'Poor Story', cursive;
            font-size: 17px;
            line-height: 1.5;
        }

        a {
            border: 1px solid black;
            width: 30%;
            background-color: white;
            padding: 13px 0;
            color: black;
            text-align: center;
            font-family: 'Gochi Hand', cursive;
            font-size: 13px;
            font-weight: bold;
            letter-spacing: 1px;
            transition: all 0.3s linear;

            &:hover {
                background-color: #333333;
                color: white;
            }
        }
    }
}

// MOVIE

.movie__movie {
    height: 200vh;
    margin-bottom: 80px;


    .movie__collection {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 50vh);
        background: #eafbea;


        .movie__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: bottom;
                padding: 10px;
                transition: all .2s linear;
            }

            img:hover {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: bottom;
                padding: 0;
                cursor: pointer;
            }

            .movie__content {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                span {
                    @extend %movieInfo;
                    margin-bottom: 50px;
                }

                h4 {
                    @extend %movieTitle;
                    margin-bottom: 40px;
                }

                a {
                    @extend %movieLink;
                    margin-bottom: 10px;
                }

            }
        }

        &>li:nth-child(2),
        &>li:nth-child(4) {
            img {
                order: 1;
            }
        }
    }

    .more {
        @extend %moreLink;
        display: block;
        margin: 0 auto;
    }
}

// COMIC BOOKS

.comic-books {
    ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 15px;
        padding: 15px;
        background: #222831;

        .container {
            position: relative;
        }

        .image {
            opacity: 1;
            width: 100%;
            height: auto;
            transition: all .5s ease;
        }

        .middle {
            transition: all .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .text {
                background-color: #ffbcbc;
                color: #30475e;
                font-size: 22px;
                font-weight: bold;
                font-family: 'Poor Story', cursive;
                letter-spacing: 3px;
                padding: 16px 32px;
                border-radius: 5px;
            }
        }

        .container:hover .image {
            opacity: 0.3;
            cursor: pointer;
        }

        .container:hover .middle {
            opacity: 1;
            cursor: pointer;
        }




        // li {
        //     img {
        //         width: 100%;
        //         height: 100%;
        //         padding: 10px;
        //         opacity: 0.8;
        //         transition: all 0.3s linear;

        //         &:hover {
        //             opacity: 1;
        //             cursor: pointer;
        //             padding: 0;
        //         }
        //     }
        // }
    }
}

//FOOTER
.footer {
    margin-top: 100px;
    background-color: #B7B3B9;
    padding: 65px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &>div:nth-child(2) {
        border-right: 1px solid black;
        border-left: 1px solid black;
    }

    .footer__column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .column__title {
            @extend %miniTitle;
            margin-bottom: 50px;
            opacity: 0.7;
        }

        ul {
            text-align: center;

            li {
                @extend %movieInfo;
                margin-bottom: 20px;
            }
        }
    }
}